@import 'tailwindcss';
@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  min-height: 100vh;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
  font-size: medium;
}
