@import 'tailwindcss';
@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  min-height: 100vh;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
  font-size: medium;
}

.swiper-button-next,
.swiper-button-prev {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/* Optional: smaller arrows */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px;
  font-weight: bold;
}

.swiper-button-prev,
.swiper-button-next svg {
  color: #800020 !important;
}

.swiper-pagination-bullet-active {
  background-color: #800020 !important;
}
